<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- *BOOTSTRAP CSS INTERNO -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='imgs/logo.png')}}">

    <title>hide.it.</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand" href="."><img class="logo" src="{{ url_for('static', filename='imgs/logo.png')}}" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav  menu_header">
                        <a class="list_item_header" aria-current="page" href="."></a>
                        <!-- <a class="list_item_header mainBtn" href=".">Try Hide it </a> -->
                        <a class="list_item_header main_boton" aria-current="page" href="{{ url_for('static', filename='imgs/logo.png')}}./pages/upload.html">Try hide.it.</a>


                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <section id="upload">
            <div>

            </div>

        </section>

    </main>

    <footer>
        <a href=".">
            <img src="./imgs/logo.png" alt="">
        </a>
    </footer>

    <!-- *BOOTSTRAP JS INTERNO -->
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>